<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Message Details</title>
    </head>
    <body>
        <h1>Message Details</h1>
        <ul>
            <li>
                <strong><%= message.username %>:</strong> <%= message.content %>
                <em>(<%= new Date(message.timestamp).toLocaleString() %>)</em>
            </li>
        </ul>
        <a href="/">Back to Messageboard</a>
    </body>
</html>
